.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 2rem;
  background: var(--Primary-0, #fff);
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.15);
  font-family: Montserrat;
  color: #000;
  line-height: normal;
  font-style: normal;
}
.button:hover {
  background: var(--Primary-800, #343434);
}

.button:disabled {
  background: var(--Primary-100, #bbb);
  cursor: not-allowed;
}
img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.Content {
  display: flex;
  width: 100%;
  padding: 0.25rem 0.5rem 0.75rem 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.Title h2 {
  align-self: stretch;
  font-size: 1.5rem;
  font-weight: 600;
}

.Title p {
  align-self: stretch;
  color: var(--Primary-600, #6c6f72);
  font-size: 0.875rem;
  font-weight: 400;
}

.Informations {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

.Info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Info svg {
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
}

.Info p {
  font-size: 0.875rem;
  font-weight: 400;
}

.Info strong {
  font-weight: 600;
}

.Airport {
  width: 3.375rem;
}

.CTAs {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}

button {
  display: flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 0.75rem;
  font: size 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background: var(--Primary-900, #000);
  color: var(--Primary-50, #f5f5f5);
}

button p {
  font-size: 0.875rem;
  font-weight: 400;
}

.CTAs .Save {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 4rem;
  border: 1px solid var(--Primary-500, #b4bbc0);
  transition: border-color 0.2s ease;
}

.CTAs .Save svg path {
  transition: stroke 0.2s ease;
}

.CTAs .Save:hover {
  border-color: var(--second, red);
}

.CTAs .Save:hover svg path {
  stroke: var(--Accent-500);
}
