:root {
  --Primary-900-50: rgba(0, 0, 0, 0.5);
  --Primary-900: #000;
  --Primary-0: #fff;
  --Background: rgba(255, 255, 255, 0.1);
  --Background-hover: rgba(255, 255, 255, 0.2);
}
.navigation {
  display: inline-flex;
  padding: 0.25rem;
  align-items: center;
  border-radius: 3rem;
  background-color: var(--Primary-900-50);
}

.navigation ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navigation a {
  text-decoration: none;
}

.nav-item {
  display: block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: var(--Primary-0);
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.nav-item:hover {
  background: var(--Background-hover);
  color: var(--Primary-0);
  border-radius: 2rem;
}

.nav-item.active {
  background: var(--Primary-0, #fff);
  color: var(--Primary-900);
}
